body {
    background-color: rgb(0, 0, 0);
    color: #000000;
}

.guess-field {
    background-color: coral;
    margin: 15% auto;
    padding: 0;
}

.guess-div {
    background: #000000;
    padding: 50px;
    text-align: center;
}

.guess-input {
    font-size: 17px;
    background-color: blanchedalmond;
    border: 0;
    padding: 25px;
    transition: ease-in-out, width .35s ease-in-out;
}

.guess-input:focus {
    width: 300px;
}

#guess-submit {
    background-color: #48c774;
    border-radius: 2px;
    padding: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 0;
}

#guess-submit:hover {
    background-color: rgba(74, 163, 105, 0.96);
    border-radius: 2px;
    padding: 25px;
    border: 0;
    cursor: pointer;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}